*{
    background-color: rgb(219, 219, 152);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    text-align: center;
    color: #4d9e4a;
}


